.logo-container{
    height: 20vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: relative;
    width: 90%;
}

.logo{
    width: 7%;
    height: 60%;
    margin-left: 5vw;
    position: absolute;
}

.header-title{
    margin: 0px;
    font-size: 3vw;
    text-align: center;
    width: 100%;
}